/* All css common start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* All css common end */

/* Menu part start */
#menuPart {
    background: #FFF8F3;
    height: 800px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 225px;
}

.menu {
    margin-left: auto;
    margin-right: 30px;
}

.menu ul li a {
    padding: 25px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #FD6E0A;
    transform: translateY(-3px);
}

.button a {
    padding: 12px 25px;
    background: #FD6E0A;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}

.button a:hover {
    background: #d18d5c;
    transform: scale(1.05);
}

/* Hero (headerFlex) part */
.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTxtLeft {
    padding-bottom: 173.5px;
    padding-left: 235.5px;
}

.headerTxtLeft {
    width: 50%;
}

.headerTxtLeft h6 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 15px;
}

.headerTxtLeft h5 {
    font-size: 85px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 25px;
}

.headerTxtLeft p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 40px;
    width: 700px;
    line-height: 30px;
}

.headerBtn {
    display: flex;
    gap: 20px;
}

.headerBtn a:first-child {
    background: #FD6E0A;
    color: white;
}

.headerBtn a:last-child {
    background: #FD6E0A;
    color: white;
}

.headerBtn a i {
    margin-right: 8px;
}

/* Right side image part start */
.headertxtRight {
    padding-top: 122px;
    padding-bottom: 0;
}

.headertxtRight {
    position: relative;
    width: 50%;
    text-align: right;
}

.headertxtRight img:first-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    z-index: 0;
}

.headertxtRight img:last-child {
    position: relative;
    width: 450px;
    z-index: 1;
}

/* Right Side Image part End */
/* Menu part end */

/* About Part Start */
#AboutPart {
    background: #FFF8F3;
    height: 550px;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About h3 {
    padding-top: 140px;
    font-size: 35px;
    font-weight: 700;
    color: #474747;
}

.About p {
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    line-height: 30px;
}

.informationflex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    gap: 50px;
}

.information1 h6 {
    font-size: 16px;
    font-weight: 200;
    color: #474747;
    line-height: 30px;
}

.information1 h5 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    line-height: 30px;
}

.two h6 {
    font-size: 16px;
    font-weight: 200;
    color: #474747;
    line-height: 30px;
}

.two h5 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    line-height: 30px;
}

.three h6 {
    font-size: 16px;
    font-weight: 200;
    color: #474747;
    line-height: 30px;
}

.three h5 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    line-height: 30px;
}

.four h6 {
    font-size: 16px;
    font-weight: 200;
    color: #474747;
    line-height: 30px;
}

.four h5 {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    line-height: 30px;
}

/* About Part End */

/* What I Do Part Start */
#WhatiDoPart {
    padding: 50px 0;

}

.textItem {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textItem h3 {
    font-size: 35px;
    font-weight: 700;
    color: #474747;
}

.textItem p {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    line-height: 30px;
    font-weight: 900px;
}

.workItemFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;

}

.itemzero {
    background: #F9F9FC;
    height: 377px;
    width: 267px;
    border-radius: 24px;
    margin-top: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.itemzero img {
    padding-top: 50px;
}

.itemzero h5 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #474747;

}

.itemzero p {
    padding-top: 9px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}

.itemOne {
    background: #F9F9FC;
    height: 377px;
    width: 267px;
    border-radius: 24px;
    margin-top: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.itemOne img {
    padding-top: 50px;
}

.itemOne h5 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.itemOne p {
    padding-top: 9px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}

.ItemTwo {
    background: #F9F9FC;
    height: 377px;
    width: 267px;
    border-radius: 24px;
    margin-top: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ItemTwo img {
    padding-top: 50px;
}

.ItemTwo h5 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.ItemTwo p {
    padding-top: 9px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}

.Itemthree {
    background: #F9F9FC;
    height: 377px;
    width: 267px;
    border-radius: 24px;
    margin-top: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Itemthree img {
    padding-top: 50px;
}

.Itemthree h5 {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

.Itemthree p {
    padding-top: 9px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #474747;
}


/* What I Do Part End */

/* What I Do Part Start */
/* What I Do Part End */
/* What I Do Part Start */
/* What I Do Part End */
/* What I Do Part Start */
/* What I Do Part End */